/* ============================= Body ===============================*/

html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #EEEEEE;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
    color: black;
}

.body-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

/* ============================= Navbar ===============================*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 0 1 auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.navbar-part {
    display: flex;
    align-items: center;
}

.navbar p {
    margin: 0;
}

.navbar span {
    font-weight: 600;
}

.navbar img {
    width: 50px;
    height: auto;
    margin-right: 5px;
}

.navbar a {
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: #454545;
}

/* ======================================== Content =========================================== */

.content {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

/* ========================== Content Left ========================== */

.content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 100%;
}

.content-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 90%;
}

.content-title {
    font-size: 2em;
    font-weight: 600;
    margin:0;
    margin-bottom: 10px;
}

.content-title span {
    color: #EB6325;
}

.content-description {
    margin:0;
}

.inputs {
    margin-bottom: 65px;
}

.inputs p {
    font-size: 1.3em;
    font-weight: 600;
    text-decoration: underline;
    margin: 30px 0 5px 0;
}

.inputs-group {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

/* ================= TextInputs ==================== */

.form__group {
    position: relative;
    padding: 20px 20px 0 0;
}
  
.form__field {
    font-family: inherit;
    border: none;
    border-bottom: 2px solid #454545;
    outline: 0;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    color: #454545;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #d55a22, #EB6325);
    border-image-slice: 1;
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    color: #EB6325;
    font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

.button-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

/* ================= Generate Button ================== */

/* ====== State - Not Loading (Idle) ===== */

.submit-button {
    display: flex;
    align-items: center;
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #df8860, #EB6325);
    color: ghostwhite;
    overflow: hidden;
}

.submit-button svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
}

.submit-button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
}

.submit-button::before,
.submit-button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.submit-button::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.submit-button:hover::before {
    transform: translate3d(100%, 0, 0);
}

.submit-button:active {
    transform: scale(0.95);
}

/* ====== State - Loading ===== */

.submit-button-loading {
    display: flex;
    align-items: center;
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    cursor: pointer;
    border: none;
    background: #EB6325;
    color: ghostwhite;
    overflow: hidden;
}

.submit-button-loading svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
}

.submit-button-loading span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
}

.submit-button-loading:active {
    transform: scale(0.95);
}

/* ==== Loader ==== */

#generate-button-loader {
    visibility: hidden; /* Initially hide the loader */
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1.1em;
    aspect-ratio: 1;
    border-radius: 100%;
    border: 4px solid #EEEEEE;
    border-right-color: #EB6325;
    animation: l2 1s infinite linear;
}
@keyframes l2 {to{transform: rotate(1turn)}}

/* ============================ Download Button =============================== */

.download-button {
    display: none;
    --width: 142px;
    --height: 58px;
    --tooltip-height: 35px;
    --tooltip-width: 120px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #EB6325;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .download-button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--tooltip-color);
    font-size: 0.9rem;
    color: #111;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .download-button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--tooltip-color);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .download-button::after,.download-button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .download-button .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .download-button-wrapper,.download-button .text,.download-button .icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .download-button .text {
    top: 0
  }
  
  .download-button .text,.download-button .icon {
    transition: top 0.5s;
  }
  
  .download-button .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .download-button .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .download-button:hover {
    background: black;
  }
  
  .download-button:hover .text {
    top: -100%;
  }
  
  .download-button:hover .icon {
    top: 0;
  }
  
  .download-button:hover:before,.download-button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .download-button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .download-button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }

/* ========================== Content Right ========================== */

.content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 100%;
}

#map {
    height: 80%;
    width: 90%;
    border-radius: 16px;
}

/* ============================ Responsive Content and Content Parts ============================== */

@media only screen and (max-width: 1200px) {
    .content {
        flex-direction: column;
        flex: none;
    }

    .nav{
        flex: none;
    }

    .content-left {
        height: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .content-right {
        height: auto;
        margin-bottom: 40px;
    }

    #map{
        height: 400px;
        width: 60%;
    }
}